@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color : #44d62c
  --primary-shadow : #44d62c50
}

body{
  cursor: none;
}



.darkTheme {
  @apply bg-[#111] text-white; 
}
.darkTheme button {
  background-color: #2b2a2a 
}

.dash:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  background-color: #bababa;
  margin-right: 4px; /* Adjust as needed */
  margin-bottom: 4px;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.separatorLine{
  container: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: .5rem auto;
  background: var(--primary-color);
}

.colorSwitcher span {
  font-size: 16px;
  /* padding: 0 10px; */
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  animation: zoomup 3s ease infinite;
  animation-delay: calc(100ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
      color: var(--primary-color);
      filter: blur(0.5px);
      text-shadow: 0 0 5px var(--primary-color),
        0 0 20px var(--primary-color),
        0 0 30px var(--primary-color),
        0 0 40px var(--primary-color),
        0 0 50px var(--primary-color),
        0 0 60px var(--primary-color)
    }

  50% {
    filter: blur(0);
    color: var(--primary-shadow);
    text-shadow: none;
  }
}


@keyframes waveExpand {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.wave {
  position: fixed;
  top: 50%;
  left: 50%;
  background: var(--primary-color); /* or any color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: waveExpand 1s ease-out forwards;
  z-index: 9999;
}


