@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color : #44d62c
}


.darkTheme {
  @apply bg-[#111] text-white; 
}
.darkTheme button {
  background-color: #2b2a2a 
}

.dash:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  background-color: #bababa;
  margin-right: 4px; /* Adjust as needed */
  margin-bottom: 4px;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.separatorLine{
  container: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: .5rem auto;
  background: #252525 !important;
}

.colorSwitcher span {
  font-size: 16px;
  /* padding: 0 10px; */
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  animation: zoomup 3s ease infinite;
  animation-delay: calc(100ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
      color: var(--theme-color);
      filter: blur(0.5px);
      text-shadow: 0 0 10px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 30px var(--theme-color),
        0 0 40px var(--theme-color),
        0 0 50px var(--theme-color),
        0 0 60px var(--theme-color)
    }

  50% {
    filter: blur(0);
    color: #44d62c44;
    text-shadow: none;
  }
}

/* .separateLine::after{
  content: "";
  width: 20%;
  height: 2px;
  background-color: red;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


